{%extends 'layout.html'%} {% block body %}

<div class="jumbotron text-center">
  <h1>Hello Mr. Acme</h1>
<p class="lead">Test your images to make sure they work</h3>
</div>

<form
  class="text-center"
  id="upload-form"
  method="POST"
  enctype="multipart/form-data"
  action="{{ url_for('upload') }}"
>
<div class="custom-file">
    <label class="custom-file-label" for="file-upload" id="file-name">Upload an Image</label>
    <input type="file" class="custom-file-input" name="photo" accept="image/*" id="file-upload">
  </div>
  <input type="submit" id="submit-button"/>
</form>


{% endblock %}
